/* --------------------- Colour Palette 
Brand - #57B596 - mint green
Darkest - #282F42 - space cadet - dark bluey / black
Dark - #4E566E - payne's grey - bluey grey
Mild - #9A9AB0 - cool grey - light bluey grey
Light - #D3D3E7 - lavendar - light purpleish
Lightest - #FFFFFF - white
--------------------- Colour Palette */

/* --------------------- Google Fonts
Rubik is used for titles and headings, while Nunito Sans is used for sub-headings, buttons and paragraph text. Caveat is used for the Contact Us link.
--------------------- Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* --------------------- Bootstrap Nav Bar */
.navbar-brand {
    font-size: 200%;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.active {
    color: #57B596;
    font-weight: 800;
}

.nav-item {
    font-size: 130%;
    padding: 2px;
}

.nav-item a:hover {
    color: #57B596 !important;
    font-weight: 500;
}

/* --------------------- Hero image and text overlay - adapted from love running -- main homepage  */
#hero-img {
    height: 450px;
    width: 100%;
    background: url(../images/high-angle-view-trees-beach-camp.jpg) no-repeat left center/cover;
}

#hero-container {
    height: 450px;
    width: 100%;
    clear: both;
    position: relative;
}

#hero-text-overlay, hero-text-overlay h2 {
    color: #FFFFFF;
}

#hero-text-overlay {
    font-size: 70%;
    font-family: Rubik, sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    color: #FFFFFF;

    width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    top: 60px;
    left: 60px;
    position: absolute;
    background-color: rgb(87, 181, 150, .3);
    /* --------------------- Opacity level for hero text overlay */
}