/* --------------------- Colour Palette 
Dark: brunswick green - #174634
Medium: sapphire - #084DB4
Light: mint green - #57B596
Light: - white smoke - #F8F8F8
--------------------- Colour Palette */

/* --------------------- Google Fonts
Kalam is used for the website title/logo and for the contact link within the footer. Rubik is used for headings, while Nunito Sans is used for main body paragraph text.
--------------------- Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Kalam:wght@300;400;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* --------------------- Global Styles */
body {
    background-color: #F8F8F8;
    font-family: 'Nunito Sans', sans-serif;
    color: #174634;
}

h1 {
    font-family: Rubik, sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

h2, h3, h4, h5 {
    font-family: Rubik, sans-serif;
    font-weight: 400;
    font-size: 1.8em;
    text-align: center;
    margin: 0;
}

#hr-nav {
    display: block;
    margin-top: 0;
    border-width: 0.2em;
    color: #084DB4;
    border-style: solid;
    width: 100%;
}

hr {
    display: block;
    margin-top: 0;
    margin-bottom: 2em;
    border-width: 0.2em;
    margin-left: auto;
    margin-right: auto;
    color: #084DB4;
    border-style: solid;
    width: 90%;
}

#hr-contact {
    display: block;
    margin-top: 0;
    margin-bottom: 2em;
    border-width: 0.2em;
    margin-left: auto;
    margin-right: auto;
    color: #084DB4;
    border-style: solid;
    width: 90%;  
}

/* --------------------- Bootstrap Nav Bar */
 .navbar-brand {
    font-family: Kalam, sans-serif;
    font-size: 300%;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 800;
    color: #084DB4 !important;
}

.active {
    color: #084DB4 !important;
    font-weight: 500;
}

.nav-item {
    font-size: 140%;
    padding: 2px;
    font-family: Rubik, sans-serif;
    font-weight: 400;
}

.nav-item a:hover {
    color: #084DB4 !important;
    font-weight: 400;
}

/* --------------------- Hero image and text overlay - inspired by and adapted from love running -- main homepage  */
#hero-img {
    height: 450px;
    width: 100%;
    background: url(../images/high-angle-view-trees-beach-camp.webp) no-repeat left center/cover;
}

#hero-container {
    height: 450px;
    width: 100%;
    clear: both;
    position: relative;
}

#hero-text-overlay, hero-text-overlay h2 {
    color: #F8F8F8;
}

#hero-text-overlay {
    font-size: 90%;
    font-family: Rubik, sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    color: #F8F8F8;

    width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    top: 60px;
    left: 60px;
    position: absolute;
    background-color: rgb(87, 181, 150, .3);
    /* --------------------- Opacity level for hero text overlay */
}

/* --------------------- Hero image and text overlay - inspired by and adapted from love running -- campsite page  */
#campsite-hero-img {
    height: 450px;
    width: 100%;
    background: url("../images/children-camp-playground-min.webp") no-repeat left center/cover;
}

#campsite-hero-container {
    height: 450px;
    width: 100%;
    clear: both;
    position: relative;
}

/* --------------------- Main Homepage - About Us section */
.about {
        padding-top: 40px;
        padding-bottom: 20px;
}

.about h1 {
    font-size: 200%;
}

/* --------------------- Main Homepage - General Info section */
.general-info a {
    text-decoration: none;
    color: #174634;
}

.general-info a:hover {
    color: #57B596;
}

/* --------------------- Campsite Page - Facilities section */
.facilities {
    padding-top: 40px;
    padding-bottom: 20px;
}

.facilities h1 {
    padding-bottom: 20px;
    font-size: 2em !important;
}

/* --------------------- Campsite Page - Pitches section Boostrap credit https://www.youtube.com/watch?v=-A_HESNP1T8 */
 .pitches-body {
    width: 100%;
    display: grid;
    place-items: center; 
    padding-bottom: 40px;
}

.pitches-body h2 {
    padding-bottom: 20px;
    font-size: 2em !important;
}

.pitches-content-list li {
    margin-bottom: 10px;
}

.row-pitches {
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 30px;
}

.row-pitches .left {
    overflow: hidden;

}

.row-pitches .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row-pitches .right {
    display: flex;
    align-items: center;
}

.row-pitches .right .pitches-content {
    padding-left: 20px;

}

.row-pitches .right .pitches-content p {
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 15px;
}


/* --------------------- Local Area Page - Introduction & Main Body */
.area-intro {
    padding-top: 40px;
    padding-bottom: 20px;
}

.area-main-body {
    padding-bottom: 40px;
}

.area-main-body h2, h3, h4, h5 {
    font-size: 1.8em !important;
}

.card-title {
    font-size: 130%;
    text-decoration: underline;
}


/* --------------------- Contact Page - FAQ and Contact Form section */
.contact-intro-text {
    margin-top: 40px;
    margin-bottom: 20px;
}

.contact-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 90%;
}

input[type="radio"] {
    margin: 0 10px 0 10px;
  }

button[type="submit"] {
    margin-top: 35px;
    margin-bottom: 60px;
    color: #F8F8F8;
    background-color: #084DB4;
    border: none;
    font-family: Kalam, sans-serif;
    font-size: 120%;
}

button:hover {
    background-color: #57B596; 
}
.accordion-item {
    margin-bottom: 2em;
}


/* --------------------- Footer - inspired by and adapted from https://www.youtube.com/watch?v=X3K5KCRYtRk */
.footer-body {
    background-color: #174634;
    text-align: center;
    color: #f8f8f8;
}

.social-links {
    padding-top: 20px;
    padding-bottom: 10px;
    color: #f8f8f8;
    text-decoration: none;
    font-size: 1.5em;
}

.footer-contact {
    padding: 2px 0;
    background-color: #174634;
    font-family: Kalam, sans-serif;
    justify-content: center;
    text-align: center;
    font-size: 24px !important;
    font-weight: 200;
    color: #fafafa;
}

footer a {
    text-decoration: none;
    color: #f8f8f8;
    padding: 20px;
}

footer a:hover{
    color: #57B596;
    text-decoration: none;
}

/* --------------------- Media Queries */

@media(min-width: 320px) {
    input[type="radio"]{
        margin: 0 auto;
      }
}

@media(max-width: 768px) {
    .row-pitches {
        width: 90%;
        grid-template-columns: 1fr;
    }
}

@media(min-width: 768px) {
    #hr-contact {
    display: none;
    }
}